/* customize Css  */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
:root{
    ---black: rgba(0, 0, 0, 1);
    ---black-grey: rgb(47, 47, 47);
    ---btn-color: #8e5b48;
    ---body-color: #efe7e2;
    --text-color: rgb(94, 94, 94);
    ---white-color: #eeefef;
    ---input-color: rgba(255, 255, 255, 1);

    /* font  */
    ---h1-font: 56px;
    ---h1-p: 20px;
    ---btn-font: 16px;
    ---h2-font: 28px;
    ---h3-font: 24px;
    ---h4-font: 14px;
    /* more fontsize  */
    ---about-h2-font: 32px;
    
    
}
*:before, 
*:after {
    box-sizing: border-box;
}
img{
    max-width: 100%;
    height: auto;
    
}
.container{
    padding: 1% 7%;
    width: 100%;   
}
section{
    padding: 8% 0;
}
html{
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
body{
    font-family: "DM Sans", sans-serif;
    background-color: var(---body-color);
    width: 100%;
    height: auto;
}

/* main Css start here  */
/* ----------------------header--------------------- */

header{
    max-width: 100%;
    height: 100%;
    
}


header .head{
    background-color:rgb(239, 231, 226, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    backdrop-filter: blur(2px);
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    padding: 20px 8% ;
   
    
       
}
.head .logo{
    width: 100%;
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    
  }
  
nav ul li {
    padding: 0 5px;
  }
  nav ul li:first-child a{
    display: flex;
    
}
nav ul li:first-child i{
    transition: 0.2s;
    font-size: 11px;
    margin-top: 5px;
    padding:0 3px ;
}
nav ul li:first-child i:hover{
    transform: rotate(180deg);
    margin-bottom: 5px;
}
 
  
  nav ul li a, 
  .dropbtn {
    display: inline-block;
    text-align: center;
    padding: 14px 0px;
    text-transform: capitalize;
    color: var(---btn-color);
    font-size: var(---btn-font);
    font-weight: 500;
    transition:all 0.3s ease;
    cursor: pointer;
    margin-right: 25px;
    transition:all 0.5s;
    
  }
  
  li a:hover, 
  .dropdown:hover 
  .dropbtn
  {
    color: var(---black-grey);
    transform: translate(-2px);
    transition:all 0.4s;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(---body-color);
    min-width: 160px;
    top: 65px;
    border-radius: 0 10px 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    transition: 0.5s;
    
  }
  
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    
  }
  .dropdown-content a:hover {
    color: var(---btn-color);
  }
  
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .search{
    margin-right: -10px;
    display: flex; 
    
  }
  .search input{
    padding: 8px 10px;
    border-radius: 30px;
    border: none;
    outline: none;
    position: relative;
    background-color: var(---white-color);
    box-shadow: 0px 8px 25px 0px rgba(0,0,0,0.2);
  }
  .search input::placeholder{
    text-transform: capitalize;
    color: rgba(214, 85, 10, 0.432);
  }
  .search i{
    position: absolute;
    margin-left: -30px;
    margin-top: 8px;
    color: var(---btn-color);
    transition: 0.5s;
  }
  
  #menu-btn{
    margin-left: 30px;
    display: none;
    cursor: pointer;

  }
  #menu-btn i{
    font-size: 18px;
    color: var(---btn-color);
    background-color: #fff;
    padding: 6px;
    margin-top: 10px;
    border-radius: 50%;
    transition: 0.2s ease;
    
  }
  #menu-btn i:hover,
  .search i:hover{
    transform: scale(1.1);

  }
  #sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 10001;
    background-color:rgba(218, 208, 208, 0.74);
    backdrop-filter: blur(50px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  #sidebar ul {
    display: flex;
    flex-direction: column;
    margin-top: 28px;
    
      
  }
  #sidebar ul li a{
    
    font-size: var(---h1-p);
    text-align: left;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: none;
    
  }
  #sidebar ul li a .on{
    margin-right: 100px;
    
    
    
    
  }
  #sidebar ul li a:hover{
    background-color: var(---white-color);
  }

  /* -------------------main------------------  */
  /* hero section start here  */
  #hero{
    margin: 10% 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 64px;
     
  }
  #hero .hero-right img{
    width: 600px;
    height: 470px;
    object-fit: cover;
    border-radius: 0 0 0 40px;
  }
  #hero .hero-right{
    max-width: 60%;

  }
  #hero .hero-left{
    max-width: 40%;
    
  }

  .hero-left h1{
    font-size: var(---h1-font);
    color: var(---black-grey);
    font-weight: 500;
    line-height: 70px;
    letter-spacing: 2px;
    margin-bottom: 30px;
    padding-right: 60px;
    transition: 0.8s ease-in;
  }
  
  
  .hero-left span{
    color: var(---btn-color);
    position: relative;
    animation-name: learn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
  }
  .hero-left p{
    font-size: var(---h1-p);
    color: var(--text-color);
    margin-bottom: 30px;
    transition: 0.5s;
  }
  .hero-right img{
    transition: 0.4s ease-in;
    width: 100%;
    height: 100%;

  }
  .hero-right img:hover{
    transform: scale(1.02);
    margin-right: 3px;
  }
  button{
    padding: 10px 15px;
    outline: none;
    border: 1px solid var(---btn-color);
    color: var(---btn-color);
    font-size: var(---btn-font);
    font-weight: 500;
    text-transform: capitalize;
    background-color: transparent;
    cursor: pointer;
    transition: 0.5s ease;
    display: block;
    border-radius: 5px;
  }
  button:hover{
    background-color:  var(---btn-color);
    color: #FFF;

  }
   /* about section start here  */

  .about{
    padding: 4% 0;
  }
  .about .upper-img img, 
  .down-img img{
    width: 130px;
    height: 180px;
    object-fit: cover;
    border-radius: 0 0 0 30px;
    transition: 0.3s ease-in-out;
  }
  .upper-img{
    display: flex;
    justify-content: space-between;
    padding: 3% 0;
  }
  .down-img{
    display: flex;
    justify-content: space-between;
    margin-top: -100px;
    
  }
  .upper-img img:hover, 
  .down-img img:hover{
    transform: translateX(-4px);

  }
  .about .about-content{
    text-align: center;
    width: 820px;
    margin:  0 auto;
  }
  .about-content .p, 
  .service .p, 
  .blog-content .p,
  .contact-content .p,
  .about-hero-left .p, 
  .value-head .p,
  .team-head .p,
  .visitus-content .p{
    font-size: var(---h1-p);
    color: var(---btn-color);
    font-weight: 500;
    margin-bottom: 30px;
    transition: 0.5s ease-in;
  }
  .about-content .p-text{
    font-weight: 400;
    color: var(--text-color);
    margin: 20px 0;
    
    transition: 0.5s ease-in;
  }
  .about-content .h2, 
  .service .h2,
  .blog-content .h2,
  .contact-content .h2,
  .about-hero-left .h2,
  .value-head .h2,
  .team-head .h2, 
  .visitus-content .h2
    {
    font-size: var(---about-h2-font);
    color: var(---black-grey);
    font-weight: 500;
    
    text-transform: capitalize;
    transition: 0.5s ease-in;
  }
  .about-content a{
    font-size: var(---h1-p);
    color: var(---btn-color);
    text-transform: capitalize;
    transition:all 0.2s ease;
    display: block;
    cursor: pointer;
    margin-top: 30px;

    /* animation  */
    position: relative;
    animation-name: learn;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate; 
  }
  @keyframes learn {
    0%   {color:var(---btn-color); left:0px; top:1px;}
    25%  {color:var(---btn-color); left:2px; top:0px;}
    50%  {color:rgb(139, 125, 99); left:1px; top:1px;}
    75%  {color:rgb(179, 153, 106); left:0px; top:2px;}
    100% {color:var(---btn-color); left:1px; top:0px;}
  }
  .about-content a:hover, .service-card-left a:hover{
    color: rgb(179, 95, 18);
    transform: translateY(2px);
  }
  .about-content a i{
    font-size: 16px;
    margin-left: 5px;
  }
  .vedio-container{
    border: 1px solid rgb(226, 194, 194);
    background-color: rgba(165, 127, 127, 0.342);
    padding: 1px ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 0;
    border-radius:2px 2px 2px 50px   ;
  }
  .bg-vedio{
    width: 50%;
    height: auto;
    margin: 3px;
    padding: 3px;
    border-radius: 0 50px 0 50px;
    transition: 0.4s ease;
  }
  .bg-vedio:hover{
    transform: scale(1.03);
    border-radius: 0 0 0 50px;
  }
  
  
  .video-cart {
    margin: 0 auto;
    display:grid ;
    grid-template-columns: repeat(3, 1fr);
    
  }
  .video-cart .cart{
    
    border-radius: 0 5px 0 5px;
    padding: 2px;
    margin: 1px;
    
  }
  .video-cart .v-file{
    width: 180px;
    object-fit: cover;
    height: 150px;
    padding: 2px;
    border-radius:2px 2px 2px 50px;
    transition: 0.3s ;
   
  }
  .video-cart .v-file:hover{
    transform: rotate(3deg);
    border: 1px solid var(---btn-color);
    padding: 0px;
  }

  /* services  */
  .service{
    text-align: center;
    
  }
  .service-head{
  
  background-image: linear-gradient(to bottom, rgba(221, 224, 241, 0.384), rgba(88, 6, 6, 0.137)), url(https://images.unsplash.com/photo-1542728928-ee495082a3c6?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  width: 100%;
  height: 215vh;
 
  padding-top: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  
  
    
  }
  .service-container{
    padding: 25px;
    width: 80%;
    margin: 0 auto;
    margin-top: 20%;
    position: relative;
   
  }

  .service-container .service-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 25px;
    height: 390px;
    border-radius: 2px 2px 2px 30px;
    gap: 15px;
    position: absolute;
    
   

  }
  .skincare{
    background-color: rgb(217, 178, 106);
    position: absolute;
    z-index: 1;
    bottom: -130px;
    right: 15%;
    transition:0.4s ease;
  }
  .makeup{
    color: #fff;
    background-color: rgb(96, 108, 56);
    position: absolute;
    z-index: 2;
    top: 25px;
    left: 200px;
    transition:0.4s ease;
    
  }
  .nail{
    color: #fff;
    background-color: rgb(66, 75, 84);
    position: absolute;
    z-index: 3;
    top: 380px;
    right: 15%;
    transition:0.4s ease;
  }
  .wax{
    background-color: rgb(142, 91, 72);
    color: #fff;
    position: absolute;
    z-index: 4;
    top: 635px;
    left: 200px;
    transition:0.4s ease;
  }
  .skincare:hover, 
  .makeup:hover, 
  .nail:hover, 
  .wax:hover{
    transform: scale(1.04);
    
  }
  .skincare a, 
  .makeup a, 
  .nail a, 
  .wax a{
    font-size: var(---h1-p);
    color: var(---btn-color);
    text-transform: capitalize;
    transition:all 0.2s ease;
    display: block;
    cursor: pointer;
    margin-top: 30px;
    display: block;
    width: 150px;
    padding: 3px 8px;
    border-radius: 2px 15px 15px 2px ;
  }
  .skincare a:hover, 
  .makeup a:hover, 
  .nail a:hover, 
  .wax a:hover{
    background-color:rgba(245, 245, 220, 0.301) ;

  }
  .service-card .service-card-left{
    width: 100%;
  }
  .service-card .service-card-left h2{
    font-size: var(---about-h2-font);
    color: var(---black-grey);
    font-weight: 600;
    margin-bottom: 30px;
    text-transform: capitalize;
  }
  .service-card .service-card-left p{
    font-size: var(---h1-p);
    font-weight: 400;
    margin-top: 30px;
    line-height: 30px;
  }
  .service-card .srvice-card-right img{

    height: 300px;
    width: 600px;
    object-fit: cover;
    border-radius: 2px 2px 2px 30px;
    transition: 0.2s;
    /* animation  */

    position: relative;
    animation: pulse 2s ease-in-out infinite;
  }

  @keyframes pulse {
    0%   { right:1px; }
    25%  { right: 5px; }
    50%  { right: 5px; }
    75%  { right: 5px; }
    100% { right: 2px; }
  }

  .service-card .srvice-card-right img:hover{
    transform: scale(1.08);
    border-radius: 0 30px 0 30px;
  }
  /* -------blog start here------- */
  .blog{
    margin: 2% auto;
    padding: 10px;
    text-align: center;
  }
  .blog-content{
    text-align: center;
    margin-top: 80px;
  }
  .blog .blog-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
  .blog-container .blog-card{
    background-color: var(---input-color);
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 2px 2px 2px 35px;
    transition: 0.2s;
    
  }
  .blog-container .blog-card:hover{
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    
  }
  .blog-main{
    padding: 0 25px;
  }
  .blog-card img{
    height: auto;
    object-fit: cover;
    width: 100%;
    border-radius: 2px 2px 2px 35px;
    transition: 0.4s;

  }
  .blog-card img:hover{
    transform: scale(1.09);
    border-radius: 2px 35px 2px 35px;

  }
  .blog-card .blog-details{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4% 1%;
  }
  .blog-details h4{
    font-size: var(---h4-font);
    font-weight: 400;
    text-transform: capitalize;
    color: var(---black-grey);
  }
  .blog-details .blog-btn{
    font-size: var(---h4-font);
    font-weight: 400;
    text-transform: capitalize;
    color: var(---btn-color);
    padding: 3px 8px;
    background-color: var(---body-color);
    border-radius: 30px;
    cursor: pointer;
    transition: 0.2s;
  }
  .blog-details .blog-btn:hover{
    background-color: var(---btn-color);
    color: #FFf;
  }
  .blog-card .blog-text{
    text-align: left;
  }
  .blog-card .blog-text h3{
    font-size: var(---h3-font);
    color: var(---black-grey);
    font-weight: 600;
    letter-spacing: -1px;
    padding: 0 5px;
    margin: 6% auto;
  }
  .blog-card .blog-text p{
    font-size: var(---btn-font);
    color: var(--text-color);
    padding:  0 5px;
    margin-bottom: 15px;

  }
  /* contact  */
  .contact-content{
    text-align: center;
    margin-top: 8%;
    
  }
  .contact{
    align-items: center;
    text-align: center;
    width: 800px;
    margin: 0 auto;

  }
  .contact .contact-details{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 4%;
    padding: 18px;

  }
  .contact-details .contact-details-left,
  .contact-details .contact-details-right{
    width: 50%;
  }
  .contact-details-left p:first-child,
  .contact-details-right p:first-child{
    font-size: var(---h1-p);
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 20px;
    color: var(---black-grey);

  }
  .contact-details-left p,
  .contact-details-right p{
    color: var(--text-color);
    font-size: var(---h1-p);
    margin: 5px 0;
  }

  /* -----------------footer section start here --------------- */

  footer{
    width: 100%;
    background-color: #fff;
    height: auto;
    padding: 1% 0;
    margin:  0 auto;
  }
  footer .foot{
    padding: 3px;
  }
  .footer-container{
    display: grid;
    grid-template-columns:40% 60% ;
    gap: 50px;
    margin-bottom: 5%;
    padding-top: 30px;
  }
  .footer-container .footer-head{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    width: 100%;
    
  }
  .footer-head p, .copyright p{
    font-size: var(---btn-font);
    color: var(--text-color);
  }
  .footer-head form{
    display: flex;
    justify-content: space-between;
    align-items:center;
    gap: 15px;

  }
  .footer-head form input{
    padding: 18px 25px;
    width: 300px;
    border: none;
    outline: none;
    background-color: rgb(225, 228, 235);
    border-radius: 3px;
  }
  .footer-head form input::placeholder{
    font-size: var(---btn-font);
    color: var(--text-color);
    opacity: 0.5;
  }
  .footer-head form a{
    background-color: #000;
    color: #fff;
    padding-right: 30px;
    text-align: center;
    padding:  15px;
    text-transform: capitalize;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    font-size: var(---btn-font);
    font-weight: 500;

  }
  .footer-head form a:hover{
    opacity: 0.9;
  }

  
  .footer-container .footer-div{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    gap: 35px;
    margin: 0 auto;
    
  }
  .footer-div .div-one .foot-text, 
  .social .foot-text{
    text-transform: capitalize;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: 500;
    color: var(---black-grey);

  }
  .div-one ul li a{
    text-transform: capitalize;
    color: var(--text-color);
    font-weight: 500;
    margin:10px 0;
    display: block;
  }
  .social{
    width: 100%;
    text-align: center;
    
  }
  .social .social-link{
    padding:  0 10px;
    
  }
  .social .social-link a{
    display: inline-block;
    padding: 0 5px;
    font-size: 25px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
   

  }
  .social .social-link a i{
    color: var(---btn-color);
    transition: 0.4s ease-in-out;
  }
  
  .copyright{
    display: flex;
    justify-content: space-between;
  }
  .copyright .other{
    display: flex;
    gap: 38px;
  }
  .copyright .other a{

    padding: 0 0px;
    text-transform: capitalize;
    color: var(--text-color);
    margin: 10px;
  }

  /* -------------------------------------------------------------------------- */
  /* about HTML part is start here  */
  #aboutHtml{
    padding: 8% 15%;
  }
  #aboutHtml .aboutHtml-head{
    padding: 10px 0;
    margin-top: 2%;
  }
  .aboutHtml-head .about-header{
    margin-bottom: 10%;
    width: 100%;
  }
  .about-header h1{
    font-size: var(---h1-font);
    font-weight: 500;
    color: var(---black-grey);
    text-transform: capitalize;
    margin-bottom: 30px;
    transition: 0.5s ease;
  }
  .about-header p{
    font-size: var(---h1-p);
    font-weight: 400;
    line-height: 30px;
    color: var(--text-color);
    transition: 0.5 ease;
  }
  .aboutHtml-head .about-hero{
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
  }
  .about-hero .about-hero-left,
  .about-hero .about-hero-right{
    width: 100%;
    height: auto;
  }
  .about-hero-left .p-text{
    margin-top: 30px;
    font-size: var(---h1-p);
    color: var(--text-color);
    font-weight: 400;
    text-align: left;

  }
  .about-hero-right img{
    width: 600px;
    height: 470px;
    object-fit: cover;
    border-radius: 0 40px 0 40px;
    transition: 0.5s;
    
  }
  .about-hero-right img:hover{
    transform: scale(1.05);

  }
  /* value  */
  .values{
    margin-top: 5%;
    
  }
  .background{
    background: rgb(164,90,5);
    background: linear-gradient(to left, rgba(164,90,5,0.28895308123249297) 29%, rgba(246,246,246,1) 100%);
    
  }
  .value-head{
   
   margin: 0 auto;

  }
  .value-head, .team-head{
    text-align: center;
    width: 880px;
    align-items: center;
    margin: 0 auto;
  }
  .value-head .p-text, 
  .team-head .p-text{
    margin-top: 30px;
    font-size: var(---h1-p);
    color: var(--text-color);
    font-weight: 400;
    text-align: center;
  }
  .value-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 4% 0;
    max-width: 100%;
    gap: 28px;
  }
  .value-container .value-card{
    border: 1px solid rgba(197, 192, 192, 0.411);
    padding: 20px;
    border-radius: 0 0 0 15px;
    transition: 0.4s;
  }
  .value-container .value-card:hover{
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  }

  .value-card i{
    font-size: var(---about-h2-font);
    color: var(---btn-color);
    margin-bottom: 20px;
  }
  .value-card h3{
    font-size: var(---h3-font);
    font-weight: 500;
    text-transform: capitalize;
    color: var(---black-grey);
    margin-bottom: 20px;
  }
  .value-card p{
    font-size: var(---btn-font);
    text-align: left;
    font-weight: 400;
    color: var(--text-color);
  }

  /* team  */
  .team{
    margin: 6% 0;
  }
  .team-card .image{
    width: 300px;
    height: 250px;
    
  }
  .image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 15px;

  }
  
   .team-container{
    max-width: 1020px;
    width: 100%;
    background: linear-gradient(to left, rgba(164,90,5,0.28895308123249297) 29%, rgba(246,246,246,1) 100%);
    padding: 20px;
    margin: 0 auto;
    margin-bottom: 6%;
    display: flex;
    
    gap: 20px;
    border-radius: 5px 5px 15px 15px;

    scroll-snap-type: x mandatory;
    overflow-x: scroll;
    scroll-padding: 30px;
    

  }
  .team-container .team-card{
    display: flex;
    flex-direction: column;
    align-items:  baseline;
    padding:10px 30px;
    background-color: var(---input-color);
    max-width: 360px;
    border-radius: 0 20px 0 25px;

    
    scroll-snap-align: start;
  }
  .team-card h3{
    margin-top: 20px;
    font-size: var(---h3-font);
    font-weight: 500;
    color: var(---black-grey);
    text-transform: capitalize;
    text-align: center;

  }
  .team-card p{
    margin: 3% 0;
    font-size: var(---btn-font);
    font-weight: 400;
    color: var(--text-color);
  }
  .team-card p::first-letter{
    font-size: 20px;
    font-weight: 600;
    color: var(---btn-color);
  }
  
  .team-container::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
  border-radius: 50%;
}

.team-container::-webkit-scrollbar{
	height: 8px;
  
	background-color: #F5F5F5;
}

.team-container::-webkit-scrollbar-thumb{
	background-color:var(---btn-color); 
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #92351d; 
}
.team-icon {
  text-align: left;

}
.team-icon a{

  font-size: 30px;
  padding-right:5px ;
  
}
.team-icon a i{
  color: #8e5b48;
  margin-bottom: 20px;
}
/* ------------------------------------------------------------------- */
/* blog HTML part start here  */

section#blogHtml{
  background-color:var(---body-color);
  margin-top: 0%;
  width: 100%;
  height:40vh;
  position: fixed;
}
#blogHtml .section-nav{
  margin-top: 90px;
  padding: 0 20px;
}
.section-nav h1{
  font-size: var(---h1-font);
  text-transform: capitalize;
  color: var(---black-grey);
  font-weight: 600;
  transition: 0.5s;

}
.section-nav-buttons ul  {
  display: flex;
  flex-direction: row;
  gap: 20px;
  
  
}
.section-nav ul li{
  text-align: center;
  margin: 1% 0;
}
.section-nav ul li a{
  background-color: #fff;
  padding: 8px;
  margin-left: -15px;
  border-radius: 20px;
  display: inline-block;
  font-size: var(---btn-font);
  font-weight: 400;
  color: var(---btn-color);
  text-transform: capitalize;
  transition: .2s;
  
}
ul li a.active, 
.section-nav ul li a:hover{
  background-color: #8e5b48;
  color: #fff;
}
.blogHtml-container{
  margin-top: 15%;
  background: rgb(164,90,5);
  background: linear-gradient(90deg, rgba(190, 124, 49, 0.349) 29%, rgba(246, 246, 246, 0.959) 100%), url(image/vecteezy_blue-corner-gradient_21103458.png);
  padding:2px 10px;
  border-radius: 0 35px 0 35px;

}
.blogHtml-container-card{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 40px;
  background-color: #fff;
  margin-top: 3%;
  padding: 20px;
  border-radius: 0 0 0 35px;
  transition: 0.3s;
  
  
}
.blogHtml-container-card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.blogHtml-content-left{
  width: 40%;
} 
.blogHtml-content-right{
  width: 60%;
}
.blogHtml-content-left img{
  width: 600px;
  height: 250px;
  object-fit: cover;
  border-radius: 0 35px 0 35px;
  transition: 0.2s;
}
  
.blogHtml-content-right .blogHtml-right-details{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}
.blogHtml-right-details p:first-child{
  color: var(--text-color);
  font-size: var(---h4-font);
  text-transform: capitalize;
  font-weight: 500;

}
.blogHtml-right-details a{
  color: var(---btn-color);
  text-transform: capitalize;
  background-color: var(---white-color);
  padding: 4px 10px;
  border-radius: 50px;
  transition: 0.3s;
  
}
.blogHtml-right-details a:hover{
  background-color: #8e5b48;
  color: #fff;
}

.blogHtml-content-right h2{
  font-size: var(---h2-font);
  color: var(---black-grey);
  font-weight: 600;
  margin-top: 25px;
}
.blogHtml-content-right p{
  font-size: var(---btn-font);
  font-weight: 400;
  color: var(--text-color);
  margin-top: 25px;
}
/* -----------------------------------------------------------contact Html part start here  */

.visitus-container{
  margin-top: 18vh;
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  align-items: flex-start;
  gap: 28px;

}
.visitus-container .visitus-left,
.visitus-container .visitus-right{
  width: 100%;
}
.visitus-details{
  display: flex;
  flex-direction: column;
  margin: 12% 0;

}
.visitus-details .one{
  margin: 2% 0;
}
.visitus-details .one p:first-child{
  font-size: var(---h2-font);
  font-weight: 500;
  color: var(--text-color);
  margin-bottom: 15px;
  text-transform: capitalize;
}
.visitus-details p{
  color: #92351d;
  font-size: var(---btn-font);
  margin: 5px 0;
  text-transform: capitalize;

}
.visitus-right{
  padding: 5px;
  background-color: var(---btn-color);
  border-radius: 0 0 0 10px;
}
.visitus-right p iframe {
  border-radius: 0 0 0 35px;
}

/* -----------------------------------------------skin care----------------------------------  */
#skincare-container{
  padding: 8% 12%;
}
#skincare-container .skincare-head{
  margin: 5% auto;
  width: 100%;

}
.skincare-head h1{
  font-size: var(---h1-font);
  font-weight: 500;
  color: var(---black-grey);
  margin-bottom: 30px;
  text-transform: capitalize;
}
.skincare-head p{
  font-size: var(---h1-p);
  font-weight: 400;
  color: var(--text-color);
  margin-bottom: 40px;
}

.skincare-head img{
  width: 100%;
  height: auto;
  object-fit: cover;
  height: auto;
  border-radius: 0 0 0 35px;
  margin-bottom: 40px;
  transition: 0.4s;
}
.skincare-head img:hover{
  transform: scale(1.01);
}

.skincare-head h3{
  font-size: var(---h3-font);
  font-weight: 500;
  color: var(---btn-color);
  text-transform: capitalize;
  margin-bottom: 35px;
}
button.skin-btn{
  display: block;
  background-color: #8e5b48;
  color: #fff;
  margin-top: 30px;
  border-radius: 5px;
  transition: 0.5s;
}
button.skin-btn:hover{
  color: var(---btn-color);
  background-color: var(---body-color);
  
}
.skincare-content{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.skincare-content .skincare-details{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}
.skincare-details h4{
  font-size: var(---btn-font);
  font-weight: 600;
  color: var(---black-grey);
  text-transform: capitalize;

}
.skincare-details span{
  font-weight: 400;
  letter-spacing: 2px;
}
.skincare-details p{
  color: var(---btn-color);
  font-weight: 500;
}
/* --------------------------------------------------blogpost part sart here-------------------------  */
#blogpostHTML{
  margin-top: 10%;
}
.video-blog{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 30px;
  padding: 2px;
  margin: 2% 0;
  border-radius: 0 35px 0 35px;
  border: 1px solid rgba(218, 208, 208, 0.7);
}
.video-text{
  padding: 10px;
}
.video-blog .video-text h3{
  font-size: var(---h2-font);
  font-weight: 500;
  color: var(---black-grey);
  text-transform: capitalize;
  margin-bottom: 20px;

}
.video-blog .video-text p{
  font-size: var(---btn-font);
  color: var(--text-color);
  margin-top: 30px;
}
.blogpost-text{
  margin: 25px 0;
 background-color: #8e5b481a;
  border: 1px solid rgba(218, 208, 208, 0.7);
  border-radius: 10px;
  padding: 2px;
  
  
}
.blogpost-text .grid-layer{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.blogpost-text h3{
  font-size: var(---h3-font);
  font-weight: 500;
  color: var(---black-grey);
  text-transform: capitalize;
  padding: 8px;
}
.blogpost-text p{
  font-size: var(---btn-font);
  color: var(--text-color);
  margin: 20px 0;
  padding: 8px;
}
.blogpost-text img{
  width: 100%;
  height: 300px;
  object-fit: cover;

}
.videos{
  width: 380px;
  height: 200px;
  margin: 0 auto;
  object-fit: cover;
  border-radius: 20px;
}

.toggle{
  position: fixed;
  width: 30px;
  height: 30px;
  background-color: #1d9252;
  bottom: 50px;
  right: 50px;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: 0.5s;
}
.toggle:hover{
  transform: scale(1.2);
  margin-bottom: 2px;
}
.toggle a{
  margin: 0 auto;
  width: 100%;
  text-align: center;
  line-height: 28px;
  position: absolute;
  color: #fff;
  transition: 0.5s;
  
}
.toggle a:hover{
  transform: rotate(360deg);
  
}
.toggle a i{
  font-size: 14px;
}

/* --------------------all rights and reserves Sumit Sarkar------------------------------------ */